openapi: 3.1.0
info:
  title: Sleeper Drafts Playoffs API
  version: '1.0'
  description: The Sleeper API is a read-only HTTP API that exposes public fantasy sports data — users, leagues, rosters, matchups, transactions, drafts, draft picks, traded picks, and players. It is free to use and requires no API token, because no content can be modified through it. All endpoints are GET requests that return JSON.
  contact:
    name: Sleeper API Docs
    url: https://docs.sleeper.com/
  x-provenance:
    generated: '2026-07-21'
    method: generated
    source: https://docs.sleeper.com/
    note: Authored by the API Evangelist enrichment pipeline from the operations documented at docs.sleeper.com. Sleeper does not publish an OpenAPI; every path, method, and parameter here is transcribed from the public docs.
servers:
- url: https://api.sleeper.app/v1
  description: Sleeper read-only API (v1)
tags:
- name: Playoffs
paths:
  /league/{league_id}/winners_bracket:
    get:
      operationId: getWinnersBracket
      summary: Get the playoff winners bracket for a league
      tags:
      - Playoffs
      parameters:
      - name: league_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Array of bracket matchup objects.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BracketMatchup'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /league/{league_id}/losers_bracket:
    get:
      operationId: getLosersBracket
      summary: Get the consolation (losers) bracket for a league
      tags:
      - Playoffs
      parameters:
      - name: league_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Array of bracket matchup objects.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BracketMatchup'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
components:
  schemas:
    BracketMatchup:
      type: object
      properties:
        r:
          type: integer
          description: Round number
        m:
          type: integer
          description: Match id within the bracket
        t1:
          type: integer
          description: roster_id of team 1
        t2:
          type: integer
          description: roster_id of team 2
        w:
          type: integer
          description: roster_id of the winner
        l:
          type: integer
          description: roster_id of the loser
  responses:
    NotFound:
      description: The requested resource was not found.
    TooManyRequests:
      description: Rate limit exceeded — stay under 1000 API calls per minute to avoid IP blocks.
